<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container-fluid">
  <div class="search m-2">
    <form method="GET" th:action="@{/}" th:object="${getForm}">
      <div class="row">
        <!--div class="form-group col-3 m-2">
          <label for="category">分類</label>
          <select id="category" name="category" class="form-select col-2" th:value="${getForm.category}">
            <option></option>
            <option value="1" th:selected="${getForm.category} == 1">仕事</option>
            <option value="2" th:selected="${getForm.category} == 2">趣味</option>
            <option value="3" th:selected="${getForm.category} == 3">その他</option>
          </select>
        </div-->
        <div class="form-group col-3 m-2">
          <label for="ENT_YEAR">入学年度</label>
          <input type="text" class="form-control" id="ENT_YEAR_sample" name="ENT_YEAR" th:value="${getForm.ENT_YEAR}">
        </div>
        <div class="form-group col-3 m-2">
          <label for="CLASS_NUM">クラス</label>
          <input type="text" class="form-control" id="CLASS_NUM_sample" name="CLASS_NUM" th:value="${getForm.CLASS_NUM}">
        </div>
        <div class="form-group col-3 m-2">
          <label for="IS_ATTEND">在学中</label>
          <input type="checkbox" class="form-control" id="IS_ATTEND_sample" name="IS_ATTEND" th:value="${getForm.IS_ATTEND}">
        </div>
      </div>
      <div class="row">
        <div class="col-1 m-1">
          <button type="submit" class="btn btn-primary">検索</button>
        </div>
      </div>
    </form>
  </div>
  
  <div class="list">
  <table id="table" class="table table-striped table-hover">
    <thead class="thead-lignt">
        <tr>
          <th class="col-2">日付</th>
          <th class="col-2">分類</th>
          <th class="col-6">題名</th>
          <th class="col-1"></th>
          <th class="col-1"></th>
        </tr>
    </thead>
    <tbody>
      <tr th:each="item: ${list}">
        <td th:text=${item.date}></td>
        <td th:text=${item.name}></td>
        <td th:text=${item.title}></td>
        <td>
          <a class="btn btn-primary">詳細</a>
        </td>
        <td>
          <button type="button" class="btn btn-danger">削除</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>