<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>本の情報を編集</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container">
        <h1>本の編集を行う</h1>
        <form th:action="@{/student/update/{id}(id=*{id})}" th:object="${student}" method="POST">
            <input type="hidden" th:field="*{id}" th:value="*{id}" />
            <div class="mb-3">
                <p th:if="${#fields.hasErrors('entYear')}" th:errors="*{entYear}" class="text-danger">ENT_YEAR Error</p>
                <label for="entYear" class="form-label">入学年度</label>
                <input id="entYear" class="form-control" type="text" th:field="*{entYear}" readonly>
            </div>
            <div class="mb-3">
                <p th:if="${#fields.hasErrors('no')}" th:errors="*{no}" class="text-danger">NO Error</p>
                <label for="no" class="form-label">学生番号</label>
                <input id="no" class="form-control" type="text" th:field="*{no}" readonly>
            </div>
            <div class="mb-3">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">NAME Error</p>
                <label for="name" class="form-label">氏名</label>
                <input id="name" class="form-control" type="text" th:field="*{name}" required>
            </div>
            <div class="mb-3">
                <p th:if="${#fields.hasErrors('classNum')}" th:errors="*{classNum}" class="text-danger">CLASS_NUM Error</p>
                <label for="classNum" class="form-label">クラス</label>
                <select class="form-control" id="classNum" name="classNum" th:field="*{classNum}" th:classappend="${#fields.hasErrors('classNum')} ? 'is-invalid' : 'is-valid'" />
	                <option value="101">101</option>
	                <option value="102">102</option>
	                <option value="201">201</option>
	                <option value="202">202</option>
	             </select>
            </div>
            <div class="mb-3">
                <p th:if="${#fields.hasErrors('isAttend')}" th:errors="*{isAttend}" class="text-danger">IS_ATTEND Error</p>
                <label for="isAttend" class="form-label">在学中</label>
                <input id="isAttend" class="form-control" type="checkbox" th:field="*{isAttend}" >
            </div>
            <input th:href="@{/student/updatecomplete/}"type="submit" class="w-20 btn btn-primary" value="更新">
        </form>
        <a th:href="@{/student/}" class="btn btn-secondary">一覧に戻る</a>
    </div>
</body>
</html>