<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>本の情報を編集</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container">
        <h1>本の編集を行う</h1>
        <form th:action="@{/subject/update/{id}(id=*{id})}" th:object="${subject}" method="POST">
            <input type="hidden" th:field="*{id}" th:value="*{id}" />
            <input type="hidden" th:field="*{schoolCd}" th:value="*{schoolCd}" />
            <div class="mb-3">
                <p th:if="${#fields.hasErrors('cd')}" th:errors="*{cd}" class="text-danger">CD Error</p>
                <label for="cd" class="form-label">科目コード</label>
                <input id="cd" class="form-control" type="text" th:field="*{cd}" >
            </div>
            <div class="mb-3">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">NAME Error</p>
                <label for="name" class="form-label">科目名</label>
                <input id="name" class="form-control" type="text" th:field="*{name}" required>
            </div>
            <input th:href="@{/subject/updatecomplete/}" type="submit" class="w-20 btn btn-primary" value="更新">
        </form>
        <a th:href="@{/subject/}" class="btn btn-secondary">一覧に戻る</a>
    </div>
</body>
</html>